<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3NsbDuTw1BhgCEVMy_Ags_-zB_NSRioE</string>
	<key>GCM_SENDER_ID</key>
	<string>283988293863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receiptScanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>receiptscanner-7df72</string>
	<key>STORAGE_BUCKET</key>
	<string>receiptscanner-7df72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283988293863:ios:2032e985b90560b319ca42</string>
</dict>
</plist>